{"filter":false,"title":".htaccess","tooltip":"/php/uploads/95477/.htaccess","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":4,"column":0},"end":{"row":4,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":26,"mode":"ace/mode/apache_conf"}},"timestamp":1524589412523,"hash":"fe9a583a4ccbf44ad045cdfb8d46882b01be0fa7"}