{"filter":false,"title":".htaccess","tooltip":"/php/uploads/14652/.htaccess","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"1e2340a628f08de3f92f420442dd013e0fb719b5","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1500440438000}