{"filter":false,"title":".htaccess","tooltip":"/php/uploads/7044/.htaccess","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"89b4fd776c0be10be09b9c7dbb8d82901c81a097","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":0,"column":0},"end":{"row":0,"column":1},"action":"insert","lines":["s"],"id":2}],[{"start":{"row":0,"column":0},"end":{"row":0,"column":1},"action":"remove","lines":["s"],"id":3}]]},"timestamp":1524546183599}